/* Main (GLOBAL) CSS file */
body {
    margin: 0;
    padding: 0;

    width: 100dvw;
    height: 100dvh;


    font-family: 'Courier New', Courier, monospace;
}

span {
    height: 100px;
    background-color: bisque;
}